*{
    padding:0;
    margin:0;
    color: white;
   
}
h1{
    color: aqua;
}

#navbar{
    height:60px;
    background-color: #0d1b2a;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 4px solid grey;
    font-size: 20px;
    text-transform: capitalize;
    
}


   #sachin{
    
            
             background-color:#5e548e;
             padding:  10px 10px 10px;
             display: flex;
             justify-content: space-evenly;
             border: 4px solid grey;
             
   }
 
 #one{
     height: 100px;
     width: 100px;  
     background-image: url(sagarfcIcon.jpeg);
     background-size: cover;
     border-radius: 50%;  
     border-style: inherit;
     padding-bottom: 5px;
     margin:5px 5px 5px 5px;
     
     
     
 }
 
 #two{
     height: 100px;
     width: 100px;  
     background-image: url(sachin.jpg);
     background-size: cover;
     border-radius: 50%;  
     border-style: inherit;
     padding-bottom: 5px;
     margin:5px 5px 5px 5px;
     
     
     
     
 }
 
 #three{
     height: 100px;
     width: 100px;  
     background-image: url(shyamsir2.jpg);
     background-size: cover;
     border-radius: 50%;  
     border-style: inherit;
     padding-bottom: 5px;
     margin:5px 5px 5px 5px;
     
     
 }
 #four{
    height: 100px;
    width: 100px;  
    background-image: url(gaurav.jpg);
    background-size: cover;
    border-radius: 50%;  
    border-style:inherit;
    padding-bottom: 5px;
    margin:5px 5px 5px 5px;
    
}

#backimage{
    height: 700px;
    background-image: url(backgroundimg.jpg);
    
}
#one:hover{
    border: 3px solid #f77f00;
    transform: scale(1.5);
}

#two:hover{
    border: 3px solid #f77f00;
    transform: scale(1.5);
}
#three:hover{
    border: 3px solid #f77f00;
    transform: scale(1.5);
}
#four:hover{
    border: 3px solid #f77f00;
    transform: scale(1.5);
}

/* changes in p two this is for paragraph*/ 
 
.pratik{
    text-align:center;
    text-transform: capitalize;
    color:#051923;
    font-weight: 10px;
    text-decoration: none;
    
}

#shyam{
    text-align:center;
    text-transform: capitalize;
    color:#f95738;
    font-weight: 10px;
    text-decoration: none;
    
}

#gaurav{
    text-align:center;
    text-transform: capitalize;
    color:#ebebd3;
    font-weight: 10px;
    text-decoration: none;
    
}